@charset "UTF-8";

/* Page content style */
main {
    background-color: #EEE;
}

/* Card Style */
.mdl-card__supporting-text {
    width: auto;
}

/* Temperature Card Style */
.temp-card h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Misc Styles */
.centered {
    display: block;
    margin: auto;
    text-align: center;
}

.invisible-fab {
    height: 56px;
    width: 56px;
}

.slim-card {
    min-height: 56px;
}

.slim-element {
    padding:0px;
    margin:0px;
}
