@charset "UTF-8";

/* Page content style */
main {
    background-color: #EEE;
}

/* Temperature Card Style */
.temp-card .mdl-card__title-text {
    /*text-align: center; /* to be decided */
    height: 56px;
}

.temp-card h2 {
    margin: 5px;
}

/* Misc Styles */
.centered {
    display: block;
    margin: auto;
    text-align: center;
}

.invisible-fab {
    height: 56px;
    width: 56px;
}

.slim-card {
    min-height: 56px;
}

.slim-element {
    padding:0px;
    margin:0px;
}

.smaller-text {
	font-size: 22px;
}

.temperature-size {
	font-size: 42px;
}