@charset "UTF-8";

/* Page content style */
main {
    background-color: #EEE;
}

/* Card Style */
.mdl-card__supporting-text {
    width: auto;
}

/* Temperature Card Style */
.temp-card .mdl-card__title-text {
    align-self: flex-start;
}

.temp-card h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Switches Style */
.switches table {
    width: 100%;
    border: none;
}

.switches td {
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

.switches td:first-of-type {
    padding-left: 0px;
}

.switches td:last-of-type {
    padding-right: 0px;
}

.switches .mdl-textfield {
    width: auto;
}

/* Misc Styles */
.centered {
    display: block;
    margin: auto;
    text-align: center;
}

.invisible-fab {
    height: 56px;
    width: 56px;
}

.slim-card {
    min-height: 56px;
}

.slim-element {
    padding:0px;
    margin:0px;
}
